# URL endpoint của ASP.NET Core Backend API
# - Dùng localhost (http://127.0.0.1:5293/v1/api/) nếu chạy giả lập iOS hoặc chạy Web
# - Dùng IP Lan (http://192.168.1.X:5293/v1/api/) nếu chạy trên thiết bị di động thật (kết nối chung Wi-Fi)
# - Dùng 10.0.2.2 (http://10.0.2.2:5293/v1/api/) nếu chạy giả lập Android (Android Emulator)
API_URL=http://YOUR_IP_LAN:5293/v1/api/
